@mixin font($font_name, $file_name, $weight, $style) {
@font-face {
font-family: $font_name;
font-display: swap;
src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
font-weight: #{$weight};
font-style: #{$style};
}
}
@import 'fonts';
body,* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
}
a {
	text-decoration: none;
}
ul,li {
	list-style:none;
}
.container {
	max-width:1920px;
	padding: 0 400px;
	overflow: hidden;
}

.header {
	background-color: #EEEFF1;
	padding-top: 60px;
}
.header__inner {
	padding-bottom: 146px;
}
.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 160px;
}

.logo-link {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 60px;
	color: #34547A;
	font-family: 'Revalia', cursive;
	text-decoration: none;
}

.header__top-list {
	display: flex;
	align-items: center;
}

.header__top-listitem + .header__top-listitem {
	margin-left: 40px;
}

.header__list-link {
	font-family: 'ROboto-medium';
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#000;
	transition:0.2s;
	&:hover {
		tranisition:0.2s;
		color: #34547A;
	}
}

.header-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__bottom-img {
	margin-right: 130px;
}
.header__bottom-info {
	width: 540px;
}

.header-info__title {
	font-family: 'Roboto-medium';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 79px;
	color: #000000;
}

.header-info__text {
	margin-top: 60px;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}

.header-info__link {
	display: inline-block;
	margin-top: 60px;
	padding: 25px 40px;
	background-color: #34547A;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.about__me {
	padding-top: 120px;
	position: relative;
	text-align: center;
	padding-bottom: 100px;
}
.about__me-title {
	font-family: 'Roboto-medium';
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.about__me-text {
	width: 540px;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	line-height: 26px;
	text-align: center;
	color: #727272;
	margin: 0 auto;
	margin-bottom: 100px;
}
.about__me-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #34547A;
	padding: 100px 0;
	display: flex;
	justify-content: center;
}
.about-project__item {
	display: flex;
	align-items: center;
}
.about-project__item + .about-project__item {
	margin-left: 60px;
}
.project__item-img {
	width: 60px;
	height: 60px;
}
.project__item-info {
	margin-top: auto;
	margin-left: 10px;
	text-align-last: left;
}
.project__info-num {
	font-family: 'Roboto-medium';
	font-size: 21px;
	line-height: 25px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.project__info-text {
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
}
.about__me-skills {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.my-abilities {
	width: 445px;
	margin-right: 150px;
}
.my-abilities__title {
	font-family: 'Roboto-medium';
	font-size: 32px;
	line-height: 37px;
	color: #000000;
	margin-bottom: 50px;
}
.my-ability {
	position: relative;
	text-align-last: left;
}
.my-ability + .my-ability {
	margin-top: 30px;
}
.my-ability__name {
	font-size: 16px;
	line-height: 26px;
	color: #727272;
	margin-bottom: 20px;
}
.my-ability__progressbar {
width: 100%;
position: relative;
height: 4px;
background-color: #C4C4C4;

&::before {
	content: '';
	position: absolute;
	display: block;
	width: 70%;
	background: #34547A;
	height: 4px;
}
}

.my-img {
	width: 555px;
	height: 450px;
	position: relative;
}
.my-img img {
	max-width: 100%;
}

.work {
	padding: 100px 0;
	background: #EEEFF1;
}

.work__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.work_inner-title {
	font-family: 'Roboto-medium';
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.work_inner-text {
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #727272;
	width: 540px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.work__inner-video {
	position: relative;
	position: releative;
	width: 1110px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
}
.work-video__img {
	max-width: 100%;
}

.play-btn {
	position: absolute;
	display: block;
	background-color: #fff;
	left: 50%;
	top: 50%;
	padding: 30px;
	border-radius: 50%;
	text-align: center;
	transform:translate(-50%,-50%);

}
.fa-play {
	font-size: 40px;
	margin-left: 10px;
}

.finished__projects {
	margin-top: 30px;
	padding-bottom: 100px;
}
.finished__projects-inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.finished__project {
	width: 480px;
	height: 480px;
	position: relative;
	text-align: center;

	&:hover {
		.finished__project-hover {
			width: 100%;
			transition: all .2s;
		}
	}
}
.finished__project img {
	max-width: 100%;
}

.finished__project-hover {
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	background: #34547A;
	opacity:0.6;
	transition: all .2s;
	z-index: 1;
	overflow: hidden;
}
.finished__project-hover i {
	font-size: 40px;
	color:#fff;
	margin-top: 50%;
}
.clients {
	margin-top: 70px;
	display: flex;
	justify-content: center;
}
.client + .client {
	margin-left: 30px;
}

.to__order {
	padding: 100px 0;
	background: #EEEFF1;
}

.to__order-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.to__order-title {
	font-family: 'Roboto-medium';
	font-style: normal;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.to__order-text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #727272;
	width: 540px;
	margin: 0 auto;
	margin-bottom: 65px;
}

.to__order-form {
	position: relative;
	width: 540px;
	margin: 0 auto;
	input::placeholder {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 23px;	
		color: #5F5D5D;
	}
	input {
		border:none;
		font-size: 14px;
		line-height: 23px;	
		color: #5F5D5D;
	}
}
.to__order-nameinput {
	margin-right: 30px;
}

.to__order-nameinput,
.to__order-mailinput {
	margin-bottom: 20px;
}


.to__order-nameinput,
.to__order-mailinput,
.description {
	width: 253px;
	box-sizing:border-box;
	padding: 20px 18px;
}
.description {
	display: block;
	width: 540px;
	height: 175px;
	margin: 0 auto;
	margin-bottom: 50px;
	border:none;
	resize:none;
}
.to__order-btn {
	padding: 15px 40px;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #FFFFFF;
	background: #34547A;
	border:none;
}

.footer {
	background: #34547A;
	padding: 50px 0;
}

.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.social__img{
	margin-left: 30px;
}
.programmer__name {
	font-family: 'Roboto-medium';
	font-size: 21px;
	line-height: 25px;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.policy {
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
}